$black: #000000;
$white: #fff;

$primary: #3464E0;
$secondary: #1740AA;

$t-color: #000000; //title text color
$p-text: #636363;//paragraph text color

$bb-text: #F1F4F9;//blue backgroud with light deem white text